.widget-bottom-bar {
    display: inline-block;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 50%;
    height: 80px;
    clear: both;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    border-top: 0px;
    color:white;
    z-index: 1000;
}

.widget-bottom-bar > .bar-item {
    float: left;
    padding: 30px 20px 20px 20px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    flex: 1;
    align-self: flex-end;
    color: white;
    font-size: 10px;
    background:darkslategray;
    height: 100%;
    transition: flex 0.5s ease;
    border-right: 1px solid #576979;
}

.showerror{
    color: red;
}

.glyphicon{
    font-size: 22px;
}

.widget-bottom-bar > .bar-item:active{
    background:black;
}

.widget-bottom-bar > .bar-item:last-child{
    border-right: 0px;
}
